<!-- <div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let item of specialevents">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a class="btn btn-primary">Buy Tickets</a>
            </div>
            
        </div>
    </div>
</div>
<table>
    <tr >
        <td *ngFor="let item of specialevents">
            {{item.name}}
            </td>
        </tr>
</table> -->
{{specialevents[0].name}}
{{specialevents[0].description}}
