<div class="jumbotron">
  <h1>Customer Page</h1>
  <form [formGroup]="CustomerModel.formCustomerGroup">
    <div class="form-group">
      <label for="CustomerCode">Customer Code</label>
      <input [(ngModel)]="CustomerModel.CustomerCode" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="CustomerCode"
        placeholder="Please enter customer code">
    </div>
    <div class="form-group">
      <label for="CustomerName">Customer Name</label>
      <input [(ngModel)]="CustomerModel.CustomerName" formControlName="CustomerNameControl"  type="text" class="form-control" id="CustomerName"
        placeholder="Please enter customer name">
        <small  *ngIf="CustomerModel.formCustomerGroup.dirty" class="form-text text-muted"  [hidden]="!(hasError('required','CustomerNameControl'))">
          Customer Name is required
        </small>
    </div>
    <div class="form-group">
      <label for="CustomerAmount">Customer Amount</label>
      <input [(ngModel)]="CustomerModel.CustomerAmount" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="CustomerAmount"
        placeholder="Please enter customer amount">
    </div>

    <div class="form-group">
      <label for="CustomerEmail">Customer Email</label>
      <input [(ngModel)]="CustomerModel.CustomerEmail" formControlName="CustomerEmailControl" type="text" class="form-control" id="CustomerEmail"
        placeholder="Please enter email">
        <small  *ngIf="CustomerModel.formCustomerGroup.dirty" class="form-text text-muted"  [hidden]="!(hasError('required','CustomerEmailControl'))">
          Customer Email is required
        </small>
        <small  *ngIf="CustomerModel.formCustomerGroup.dirty" class="form-text text-muted"  [hidden]="!(hasError('pattern','CustomerEmailControl'))">
          Customer Email format is not proper
        </small>
    </div>

    <input [disabled]="!(CustomerModel.formCustomerGroup.valid)" type="button" class="btn btn-primary mb-2" (click)="AddCustomer()" value="Add" />
    
  
  </form>

<!-- 
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Customer Code</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Amount</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let cust of CustomerModels">
        <th scope="row">{{cust.id}}</th>
        <th>{{cust.CustomerCode}}</th>
        <td>{{cust.CustomerName}}</td>
        <td>{{cust.CustomerAmount}}</td>
        <td>{{cust.CustomerEmail}}</td>
        <td><input type="button" value="Edit" (click)="EditCustomer(cust.id)" class="btn btn-primary mb-2"/>
          &nbsp;
          <input type="button" value="Delete" class="btn btn-primary mb-2"/>
        </td>
      </tr>
    </tbody>
  </table> 

-->

  <grid-ui [grid-columns]="[{'colName':'id'},{'colName':'CustomerCode'},{'colName':'CustomerName'},{'colName':'CustomerAmount'},{'colName':'CustomerEmail'}]"
  [grid-data]="CustomerModels" (grid-selected)="EditCustomer($event)"></grid-ui>
</div>
